.banner__main{
    background-image: url('../../../public/assets/images/banner-watermark_.svg');
    background-repeat: no-repeat;
    background-position: right right;
    max-width : 100% ;
    background-color: #fff ;
    background-size: cover;
    padding : 35px 0 ; 
}
.banner__main__insider{
    /* padding: 35px 0; */
}
.banner__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner__text h1{
    font-size: 34px;
    margin-bottom: 19px;
    line-height: 1.214;
    letter-spacing: -1px;
    color: #333 ;
    font-weight: 600 ;
}
.banner__text p{
    color: #333 ;
    font-size: 13px;
}

@media screen and (max-width : 575px){
    .banner__text {
        text-align: center;
        margin-bottom: 30px ;
    }
}