@import "~bootstrap/dist/css/bootstrap.min.css";


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');


:root {
    --color-1: rgba(6, 147, 227, 1);
    --gradiant: linear-gradient(0deg, #7F65CB, #40C3FF);
}

/* .block1{
    height: 200px ;
    background-color: blue;
  }
  
  .block2{
    height: 200px ;
    background: fuchsia;
  }
  
  .block3{
    height: 200px ;
    background: tomato;
  }
  
  .block4{
    height: 200px ;
    background: lime;
  } */




html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    /* padding-left: 0 !important; */
}

img {
    border: 0;
}

.container {
    max-width: 1115px !important;
}

.inner__container {
    max-width: 950px;
    margin: 0 auto;
    /* background-color: #7F65CB; */
}

.mr__3 {
    margin-right: 3px;
}

.mr__5 {
    margin-right: 5px;
}

.ml__10 {
    margin-left: 10px;
}

.mt__70{
    margin-top : 70px;
}

.mb__30{
    margin-bottom: 30px ;
}

/* common css  */

.elementor-heading-title.elementor-size-default{
    display: none ;
}

.elementor-widget-container p:last-child{
    margin-bottom: 0;
    padding-bottom: 100px ;
}